<div>
<h1>CONTENIDO</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi assumenda soluta itaque aspernatur rem? Modi assumenda numquam, beatae corrupti magni reprehenderit tempora quibusdam ex quis unde ipsam nihil quos iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis quo vero eos expedita veniam. Accusamus necessitatibus libero corrupti adipisci repellat in, voluptate doloribus eos magnam perferendis sed officia minus hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et iure nisi soluta earum minima nesciunt temporibus, vel iusto sint beatae enim dolore ea. Architecto ratione dolor inventore. Provident, atque asperiores!</p>

<img src="../../assets/img/Escuela-Alumnos.jpg" alt="">


